pipeline/pl_alert.json
{
	"name": "pl_alert",
	"properties": {
		"activities": [
			{
				"name": "Webmessage",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content_Type": "application/json"
					},
					"url": "https://orf944.webhook.office.com/webhookb2/c7ce165f-224b-4a19-9619-bfcb7cbd0c87@2ab449e2-ef2f-48ae-874e-650ec7d19695/IncomingWebhook/bc5e1f69b7e845e49cd40d2a2d3316c8/60090557-080a-4992-be27-ce419a920cc6",
					"body": {
						"value": "@json(variables('messagecard'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "messagecard",
					"value": "{\n\t\"@type\": \"Message\",\n\t\"@context\": \"http://schema.org/extensions\",\n\t\"@themeColor\": \"0076D7\",\n\t\"@summary\": \"Pipeline status alert message\",\n\t\"sections\": [\n\t\t{\n\t\t\t\"name\": \"Pipeline Name\",\n\t\t\t\"value\": \"@{pipeline().parameters.pipeline_name}\"\n\t\t},\n\t\t{\n\t\t\t\"name\": \"Message\",\n\t\t\t\"value\": \"@{pipeline().parameters.message}\"\n\t\t}\n\t],\n\t\"markdown\": true\n}\n"
				}
			}
		],
		"parameters": {
			"pipelinename": {
				"type": "string"
			},
			"message": {
				"type": "string"
			}
		},
		"variables": {
			"messagecard": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Webactivity"
		},
		"annotations": []
	}
}