pipeline/Pl_fail.json
{
	"name": "Pl_fail",
	"properties": {
		"activities": [
			{
				"name": "Fail1",
				"type": "Fail",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"message": "pipeline Failure",
					"errorCode": "1001"
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Fail1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Pl_alerts",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pipename": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"message": {
							"value": "@activity('Fail1').output.message",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-03-20T14:37:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}