pipeline/pl_Fail.json
{
	"name": "pl_Fail",
	"properties": {
		"activities": [
			{
				"name": "Fail1",
				"type": "Fail",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"message": "PipelineFailure",
					"errorCode": "1001"
				}
			},
			{
				"name": "send message",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Fail1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_alert",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"pipelinename": {
							"value": "@pipeline().Pipeline",
							"type": "Expression"
						},
						"message": {
							"value": "@activity('Fail1').output.message",
							"type": "Expression"
						}
					}
				}
			}
		],
		"folder": {
			"name": "Webactivity"
		},
		"annotations": []
	}
}